.doneTask > span {
    color: #112698;
}

li {
    list-style: none;
}

.buttons {
    margin: 10px 0 0 10px;
}

.buttons > button {
    margin: 0 5px;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
    color: #2627b0;
}
.title > button {
    margin-right: 10px;
}