.appBar {
    justify-content: space-between;
}
.addTdlGrid {
    padding: 15px;
    margin: 20px 0;
}
.tdlsGrid {
    padding: 15px;
}
.tdl {
    padding: 15px;
    height: 400px;
    width: 300px;
    overflow: scroll;
}
.errorBar {
    position: fixed;
    bottom: 0;
}
